<!DOCTYPE html>
<html lang="en">
<body>

<script type="text/javascript">
    if(window.location.hash) {
        var hash = window.location.hash.substring(1); //get string of hash parameters
        var parameters = hash.split("&");
        var accesstokenParam;
        for (i = 0; i < parameters.length; i++) { //
            if (parameters[i].indexOf("access_token" != -1)) {
                accesstokenParam = parameters[i];
            }
        }
        var redirectString = "";
        if (window.location.indexOf("localhost") != -1) {
            redirectString.concat("http://localhost:8080/loginsuccess");
        }
        else {
            redirectString.concat("http://colab-sbx-122.oit.duke.edu:8080/loginsuccess");
        }
        redirectString.concat("?");
        redirectString.concat(accesstokenParam);
        window.location = redirectString;
    } else {
        if (window.location.indexOf("localhost") != -1) {
            window.location = "http://localhost:8080/loginfailure";
        }
        else {
            window.location = "http://colab-sbx-122.oit.duke.edu:8080/loginfailure";
        }
    }
</script>

</body>
</html>